@using Shelter.Common.Dtos;

@{
    ViewData["Title"] = "Index";
}

@{
    var animals = (List<AnimalDto>)ViewBag.Animals ?? new List<AnimalDto>();
    animals.Add(new AnimalDto() { Name = "birisi", Age = 5, Genus = "dada" });
    var operationClaimId = (int)ViewBag.OperationClaimId;
}
<script>
    function add() {
        location.href = "/home/addorupdate";
    }
    function edit(id) {
        location.href = "/home/addorupdateanimal?animalId=" + id;
    }
    function delete (id) {
        location.href = "/home/deleteanimal?animalId=" + id;
    }
</script>


<div class="container ml-5">
    <div class="card">
        <div class="card-title pr">
            <h4>Hayvanlar</h4>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table student-data-table m-t-20">
                    <thead>
                        <tr>
                            <th>İsmi</th>
                            <th>Cinsi</th>
                            <th>Yaşı</th>
                            <th>Cinsiyeti</th>
                            <th>Açıklama</th>
                            <th>Kabul Tarihi</th>
                            @if (operationClaimId == 1)
                            {
                                <th><span class="jsgrid-button jsgrid-mode-button jsgrid-insert-mode-button ti-plus" type="button" title="" onclick="location.href='/home/addorupdateanimal'"></span></th>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in animals)
                        {
                            <tr>
                                <td>@item.Name</td>
                                <td>@item.Genus</td>
                                <td>@item.Age</td>
                                <td>@item.Gender</td>
                                <td>@item.Description</td>
                                <td>@item.AcceptionDate.ToString("dd/MM/yyyy")</td>
                                @if (operationClaimId == 1)
                                {

                                    <td>
                                        <span class="jsgrid-button jsgrid-edit-button ti-pencil" type="button" title="Edit" onclick="location.href='/home/addorupdateanimal' + @item.Id"></span>
                                        <span class="jsgrid-button jsgrid-delete-button ti-trash" type="button" title="Delete" onclick="location.href='/home/deleteanimal' + @item.Id"></span>
                                    </td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


